.flex-row-b {
  position: relative;
  width: 1401.999px;
  height: 690px;
  margin: 79px 0 0 0;
  z-index: 106;
}
.rectangle-31 {
  position: absolute;
  width: 1920px;
  height: 690px;
  top: 0;
  left: 0;
  background: #f7f8fd;
  z-index: 97;
}
.frame-32 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 14px;
  position: relative;
  width: 665px;
  margin: 102.472px 0 0 147.018px;
  z-index: 112;
}
.rectangle-33 {
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 3px;
  background: #fac568;
  z-index: 113;
}
.our-testimonials {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 114;
}
.frame-34 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 26.087px;
  position: relative;
  width: 385.616px;
  height: 93.643px;
  margin: 371.414px 0 0 147.102px;
  z-index: 98;
}
.image-35 {
  flex-shrink: 0;
  position: relative;
  width: 97.857px;
  height: 95px;
  background: url(./assets/brand.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
  border-radius: 78.261px;
}
.group-36 {
  flex-shrink: 0;
  position: relative;
  width: 256.522px;
  height: 81px;
  font-size: 0px;
  z-index: 100;
}
.chaim-desmond {
  display: block;
  position: relative;
  height: 39px;
  margin: 0 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 27px;
  font-weight: 600;
  line-height: 39px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.ceo-of-yellow-hotel {
  display: block;
  position: relative;
  height: 39px;
  margin: 3px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 27px;
  font-weight: 300;
  line-height: 39px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.frame-37 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 18.824px;
  position: absolute;
  width: 160.114px;
  height: 78px;
  top: 132px;
  left: 920px;
  padding: 8.889px 0 8.889px 0;
  background: #29679f;
  z-index: 107;
  border-radius: 88.889px;
}
.vuesax-linear-arrow-left-38 {
  flex-shrink: 0;
  position: relative;
  width: 48.889px;
  height: 48.889px;
  z-index: 108;
}
.vuesax-linear-arrow-left-39 {
  position: absolute;
  width: 48.889px;
  height: 48.889px;
  top: 0;
  left: 0;
  background: url(./assets/images/54f549e4-f421-48ab-b2fb-98ab56e61a08.png)
    no-repeat center;
  background-size: cover;
  z-index: 109;
}
.vuesax-linear-arrow-left-3a {
  flex-shrink: 0;
  position: relative;
  width: 48.889px;
  height: 48.889px;
  background: url(./assets/images/b37dcccf-863e-45b9-847a-a8e50851197b.png)
    no-repeat center;
  background-size: cover;
  z-index: 110;
}
.yang-klien-kami-katakan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 56.186px;
  top: 142.886px;
  left: 147.018px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 37px;
  font-weight: 600;
  line-height: 55.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 115;
}
.gwa-group-membantu-hotel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 458.327px;
  height: 193px;
  top: 238px;
  left: 244.172px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 26px;
  font-weight: 300;
  line-height: 37.7px;
  text-align: left;
  z-index: 104;
}
.left-quotes-sign {
  position: absolute;
  width: 44.638px;
  height: 44px;
  top: 238.443px;
  left: 176.123px;
  background: url(./assets/petik.png)
    no-repeat center;
  background-size: cover;
  z-index: 105;
}
.rectangle-3b {
  position: absolute;
  width: 580.415px;
  height: 571.714px;
  top: 59px;
  left: 1000px;
  background: url(./assets/people.png)
    no-repeat center;
  background-size: cover;
  z-index: 106;
  border-radius: 60px 0 0 60px;
}