
.section-c {
  position: relative;
  width: 1400px;
  height: 741px;
  margin: 11px 0 0 -2px;
  z-index: 171;
  overflow: hidden;
}
.group-14 {
  position: absolute;
  width: 1772.287px;
  height: 854.231px;
  top: -54px;
  left: -372px;
  z-index: 172;
}
.img-9 {
  position: absolute;
  width: 810.419px;
  height: 854.231px;
  top: 0px;
  left: 0;
  background: url(./assets/images/4ee21a10-fa4e-431b-8c88-2655dee5516a.png)
    no-repeat center;
  background-size: cover;
  z-index: 173;
}
.group-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 90px;
  position: absolute;
  width: 1400px;
  height: 667px;
  top: 104.979px;
  left: 372.287px;
  padding: 100px 200px 100px 200px;
  z-index: 174;
}
.wrapper-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 460px;
  z-index: 175;
}
.text-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 460px;
  min-width: 0;
  height: 108px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #052925;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  z-index: 176;
}
.pic-e {
  flex-shrink: 0;
  position: relative;
  width: 142px;
  height: 1px;
  background: url(./assets/images/95e42326-b953-4332-9e94-f56b8d9db049.png)
    no-repeat center;
  background-size: cover;
  z-index: 177;
}
.text-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 460px;
  min-width: 0;
  height: 111px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #052925;
  font-size: 34px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-overflow: initial;
  z-index: 178;
  overflow: hidden;
}
.box-c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  width: 319px;
  z-index: 179;
}
.section-d {
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 3px;
  background: #fac568;
  z-index: 180;
}
.text-23 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 181;
}
.wrapper-10 {
  flex-shrink: 0;
  position: relative;
  width: 518px;
  height: 500px;
  background: #f7f7f7;
  z-index: 182;
  overflow: hidden;
  border-radius: 20px;
}
.box-d {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
  position: relative;
  width: 438px;
  margin: 40px 0 0 40px;
  z-index: 183;
}
.section-e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 184;
  overflow: hidden;
}
.text-24 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #052925;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 185;
}
.box-e {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3px;
  position: relative;
  padding: 14px 18px 14px 18px;
  background: #ffffff;
  border: 1px solid #fac568;
  z-index: 186;
  overflow: hidden;
  border-radius: 12px;
}
.text-25 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 187;
}
.section-f {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
  position: relative;
  width: 438px;
  margin: 29px 0 0 40px;
  z-index: 188;
}
.wrapper-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 189;
  overflow: hidden;
}
.text-26 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #052925;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 190;
}
.wrapper-12 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3px;
  position: relative;
  padding: 14px 18px 14px 18px;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 191;
  overflow: hidden;
  border-radius: 12px;
}
.text-27 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 192;
}
.group-16 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
  position: relative;
  width: 438px;
  margin: 29px 0 0 40px;
  z-index: 193;
}
.box-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 194;
  overflow: hidden;
}
.text-28 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #052925;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 195;
}
.group-17 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3px;
  position: relative;
  padding: 14px 18px 14px 18px;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 196;
  overflow: hidden;
  border-radius: 12px;
}
.text-29 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 197;
}
.wrapper-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 438px;
  margin: 36px 0 0 40px;
  padding: 15px 10px 15px 10px;
  background: #fac568;
  z-index: 198;
  border-radius: 9000px;
}
.text-2a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 199;
}
.box-10 {
  flex-shrink: 0;
  position: relative;
  width: 42.035px;
  height: 42.035px;
  z-index: 200;
}
.pic-f {
  position: absolute;
  width: 42.035px;
  height: 42.035px;
  top: 0;
  left: 0;
  background: url(./assets/images/2fcd817a-5710-4714-8294-860206a83422.png)
    no-repeat center;
  background-size: cover;
  z-index: 201;
}
.pic-10 {
  position: relative;
  width: 192.4px;
  height: 65px;
  margin: 80px 0 0 105px;
  background: url(./assets/images/530bc816-aa3a-4571-b4e3-421cff322c23.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 147;
}
.wrapper-14 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 1181px;
  margin: 54px 0 0 105px;
  z-index: 148;
}
.group-18 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 84px;
  font-size: 0px;
  z-index: 149;
}
.text-2b {
  display: block;
  position: relative;
  height: 32px;
  margin: 0 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 150;
}
.text-2c {
  display: block;
  position: relative;
  height: 32px;
  margin: 20px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 151;
}
.group-19 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 125px;
  font-size: 0px;
  z-index: 152;
}
.text-2d {
  display: block;
  position: relative;
  height: 32px;
  margin: 0 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 153;
}
.text-2e {
  display: block;
  position: relative;
  height: 32px;
  margin: 20px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 154;
}
.text-2f {
  display: block;
  position: relative;
  height: 32px;
  margin: 9px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 155;
}
.box-11 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 125px;
  font-size: 0px;
  z-index: 156;
}
.text-30 {
  display: block;
  position: relative;
  height: 32px;
  margin: 0 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 157;
}
.text-31 {
  display: block;
  position: relative;
  height: 32px;
  margin: 20px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 158;
}
.text-32 {
  display: block;
  position: relative;
  height: 32px;
  margin: 9px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 159;
}
.group-1a {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 104px;
  font-size: 0px;
  z-index: 160;
}
.text-33 {
  display: block;
  position: relative;
  height: 32px;
  margin: 0 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 161;
}
.section-10 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 295.25px;
  margin: 20px 0 0 0;
  z-index: 162;
}
.box-12 {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 52px;
  z-index: 163;
}
.img-a {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  background: url(./assets/images/0f0512eb-dabe-4f9b-bf88-4bd92eee7006.png)
    no-repeat center;
  background-size: cover;
  z-index: 164;
}
.box-13 {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 52px;
  z-index: 165;
}
.pic-11 {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  background: url(./assets/images/597f3909-9d76-4f27-bffc-f467bd7756ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 166;
}
.box-14 {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 52px;
  z-index: 167;
}
.img-b {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  background: url(./assets/images/7d55a17c-cf52-448a-b9ad-cc5a55058558.png)
    no-repeat center;
  background-size: cover;
  z-index: 168;
}
.img-c {
  position: relative;
  width: 1182px;
  margin: 61px 0 0 104px;
  background: url(./assets/images/f6512744-6fb7-4fc1-a6b8-0a070533ec84.png)
    no-repeat center;
  background-size: 100% 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 169;
}
.group-1b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1181px;
  margin: 51px 0 0 105px;
  z-index: 135;
}
.box-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  width: 210px;
  z-index: 136;
}
.text-34 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 137;
}
.text-35 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 138;
}
.section-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16.97px;
  position: relative;
  width: 375.03px;
  z-index: 139;
}
.img-d {
  flex-shrink: 0;
  position: relative;
  width: 44.121px;
  height: 44.121px;
  background: url(./assets/images/1c43e9a7-e476-4f3e-8f26-1e85593629b8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 140;
}
.box-16 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 313.94px;
  height: 56px;
  padding: 8.485px 25.455px 8.485px 25.455px;
  background: #29679f;
  z-index: 141;
  border-radius: 1696.97px;
}
.text-36 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20.36363983154297px;
  font-weight: 300;
  line-height: 30.545px;
  text-align: left;
  white-space: nowrap;
  z-index: 142;
}
.group-1c {
  flex-shrink: 0;
  position: relative;
  width: 20.364px;
  height: 20.364px;
  z-index: 143;
}
.pic-12 {
  position: absolute;
  width: 20.364px;
  height: 20.364px;
  top: 0;
  left: 0;
  background: url(./assets/images/a4dc3e6d-b58a-4fb2-a7a0-e397283edb96.png)
    no-repeat center;
  background-size: cover;
  z-index: 144;
}
.text-37 {
  display: block;
  position: relative;
  height: 33px;
  margin: 65px 0 0 99px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 170;
}
.img-e {
  position: absolute;
  width: 1402px;
  height: 830px;
  top: 0;
  left: -2px;
  background: url(./assets/images/16b7888d-80b1-47f2-bb45-68648aae75ec.png)
    no-repeat center;
  background-size: cover;
  z-index: 117;
}
.group-1d {
  position: absolute;
  width: 1379px;
  height: 529.432px;
  top: 780px;
  left: 0;
  z-index: 26;
}
.img-f {
  position: absolute;
  width: 1380.046px;
  height: 409.14px;
  top: -1.068px;
  left: 0;
  background: url(./assets/images/1c806f8e-f820-470c-9e8a-357e3c98e160.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.box-17 {
  position: absolute;
  width: 589px;
  height: 350.568px;
  top: 39.068px;
  left: 107px;
  z-index: 28;
}
.group-1e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 589px;
  margin: 0 0 0 0;
  z-index: 28;
}
.wrapper-15 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  width: 307px;
  z-index: 29;
}
.group-1f {
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 3px;
  background: #fac568;
  z-index: 30;
}
.text-38 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 17px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.text-39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 589px;
  height: 102px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: left;
  z-index: 32;
}
.box-18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.646px;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 57.568px 0 0 282.252px;
  padding: 9.646px 9.646px 9.646px 9.646px;
  background: #ffffff;
  z-index: 17;
  border-radius: 868.167px;
  box-shadow: 0 4.823px 38.585px 0 #ffefde;
}
.img-10 {
  flex-shrink: 0;
  position: relative;
  width: 96.463px;
  height: 96.463px;
  background: url(./assets/images/e5ed305299f36611b6dbd4fd35f2d26d943abe13.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.section-12 {
  position: absolute;
  width: 210.968px;
  height: 211.129px;
  top: 153.261px;
  left: 1053.887px;
  z-index: 27;
}
.group-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.677px;
  position: relative;
  width: 154.839px;
  height: 154.839px;
  margin: 0 0 0 0;
  padding: 9.677px 9.677px 9.677px 9.677px;
  background: #ffffff;
  z-index: 23;
  border-radius: 870.968px;
  box-shadow: 0 4.839px 38.71px 0 #ffefde;
}
.img-11 {
  flex-shrink: 0;
  position: relative;
  width: 96.774px;
  height: 96.774px;
  background: url(./assets/images/3bf8d9dc0a11466b92cd166f39eda050a799933f.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.text-3a {
  display: block;
  position: relative;
  height: 35px;
  margin: 21.29px 0 0 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 23.225805282592773px;
  font-weight: 600;
  line-height: 34.839px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.img-12 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 320.068px;
  left: 938px;
  background: url(./assets/images/ee72b0e3-78cb-4748-bdab-f9cdec4b9b8a.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
  border-radius: 50%;
}
.box-19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.677px;
  position: absolute;
  width: 154.839px;
  height: 154.839px;
  top: 276.194px;
  left: 751.339px;
  padding: 9.677px 9.677px 9.677px 9.677px;
  background: #f1faff;
  z-index: 8;
  border-radius: 870.968px;
}
.pic-13 {
  flex-shrink: 0;
  position: relative;
  width: 96.774px;
  height: 96.774px;
  background: url(./assets/images/45c19becfd966f838b745b4b47c6877b94f02ca8.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.group-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.646px;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 319.568px;
  left: 94.793px;
  padding: 9.646px 9.646px 9.646px 9.646px;
  background: #ffffff;
  z-index: 11;
  border-radius: 868.167px;
  box-shadow: 0 4.823px 38.585px 0 #ffefde;
}
.img-13 {
  flex-shrink: 0;
  position: relative;
  width: 96.463px;
  height: 96.463px;
  background: url(./assets/images/e757b180f6250b4c1298ae11ac736912f5e3333c.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.text-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 293.226px;
  height: 78px;
  top: 371.807px;
  left: 1053.887px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 26.25px;
  text-align: left;
  z-index: 26;
}
.text-3c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 410.095px;
  left: 390.217px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.text-3d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 285.531px;
  height: 78px;
  top: 451.432px;
  left: 390.217px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 17px;
  font-weight: 300;
  line-height: 25.5px;
  text-align: left;
  z-index: 20;
}
.text-3e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 452.323px;
  left: 751.339px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 23.225805282592773px;
  font-weight: 600;
  line-height: 34.839px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.text-3f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 491.095px;
  left: 94.793px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.section-13 {
  position: absolute;
  width: 977.207px;
  height: 114.432px;
  top: 1276px;
  left: 94.793px;
  z-index: 15;
}
.text-40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 321px;
  height: 78px;
  top: 0;
  left: 656.207px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 26.25px;
  text-align: left;
  z-index: 6;
}
.text-41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 261.415px;
  height: 78px;
  top: 36.432px;
  left: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 17px;
  font-weight: 300;
  line-height: 25.5px;
  text-align: left;
  z-index: 15;
}
.pic-14 {
  position: absolute;
  width: 100.07%;
  height: 15.03%;
  top: 86.12%;
  left: -0.07%;
  background: url(./assets/images/750d4435-cb5d-43a9-a312-8efdc2490e37.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 134;
}
