.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1401px;
  height: 758px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1181px;
  margin: 427px 0 0 106px;
  z-index: 1;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  width: 210px;
  z-index: 2;
}

.text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 3;
}

.text-2 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 31.5px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 4;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16.97px;
  position: relative;
  width: 375.03px;
  z-index: 5;
}

.pic {
  flex-shrink: 0;
  position: relative;
  width: 44.121px;
  height: 44.121px;
  background: url(./assets/images/6758435a-2604-472a-83ec-e14e33c86dfe.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 313.94px;
  height: 56px;
  padding: 8.485px 25.455px 8.485px 25.455px;
  background: #29679f;
  z-index: 7;
  border-radius: 1696.97px;
}

.text-3 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20.3636398315px;
  font-weight: 300;
  line-height: 30.545px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}

.wrapper-2 {
  flex-shrink: 0;
  position: relative;
  width: 20.364px;
  height: 20.364px;
  z-index: 9;
}

.img {
  position: absolute;
  width: 20.364px;
  height: 20.364px;
  top: 0;
  left: 0;
  background: url(./assets/images/e516e836-4f77-494f-9b65-5ab96631f13a.png) no-repeat center;
  background-size: cover;
  z-index: 10;
}

.img-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/7728bfd5-d470-4f72-ad86-f67d1ba77acd.png) no-repeat center;
  background-size: 100% 100%;
}

/*# sourceMappingURL=footer.css.map */
